.Header {
    font-size: x-small;
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    animation-duration: 1s;
    animation: Header_animation 2s forwards, Flow_animation 3s infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 120px;

}
@keyframes Header_animation {
    from {font-size: x-small; color: black;}
    to {font-size: xxx-large; color: coral;}
}
@keyframes Header_animation_allUsers_true {
    from{font-size: xxx-large; opacity: 1;}
    to{font-size: x-large; opacity: 0; margin-top: 0}
}
@keyframes Header_animation_allUsers_false {
    from{font-size: x-large; opacity: 0; margin-top: 0}
    to{font-size: xxx-large; opacity: 1;}
}

.Table{
    animation-name: "";
    opacity: 1;
    animation-fill-mode: forwards;

}
@keyframes Table_animation {
    from{opacity: 1; visibility: visible;}
    to{opacity: 0; visibility: hidden; animation-fill-mode: forwards; animation-name: ""}
}
.All-App{
width:100%; height:100%; margin:0; top:0; left:0; background: #FFFFFF; position: fixed;
    animation: all_app_animation 2s forwards;
}
@keyframes all_app_animation {
    from{background: #000000
    } to {background: #fff5e2
                              }
}
@keyframes Flow_animation {
    from{margin-top: 120px}
    to{margin-top: 100px}
}
{/*All_app*/}


.container{
    display: block;
    animation-name: "";
    margin: 170px;

}
@keyframes container_animation {
    from {margin: 170px auto}
    to {margin: 0px auto;opacity: 0.5; pointer-events: none}
}
@keyframes container_animation_back {
    from {opacity: 0.5; pointer-events: none;margin: 0px auto;}
    to {opacity: 1; pointer-events: auto; margin: 170px auto}
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    visibility: hidden;
    animation-name: Button_animation;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
@keyframes Button_animation_hover {
    from {background-color: black}
    to {background-color: coral}
}
@keyframes Button_animation_closing {
    from{opacity: 1; visibility: visible;}
    to{opacity: 0; visibility: hidden; }
}
@keyframes Button_animation {
    from {opacity: 0;}
    to {opacity: 1; visibility: visible;}

}
.button:hover {
    background-color: coral;
    transition: 0.5s;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.btn_of_closing{
    position: absolute;
    top: 10px;
    right: -1px;
    animation-name: "btn_of_closing_Clicked";
}
@keyframes btn_of_closing_Clicked {
    from {opacity: 1; display: block}
    to {opacity: 0; display: none;}

}