.h1{

}
.img {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 22px;
}
.div-spaces{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 0.7rem;
    color: #FFFFFF;
}

.div{

    display: flex;
    background-color: black;
    font-size: 10px;
    height: 0.13rem;
    border-radius: 8px;
    justify-content: center;
    opacity: 0.08;
}

.text-of-titles{
    text-align: center;
    font-size: 1.2rem;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 0.3
}
.text-of-titles:hover{
    opacity: 1;
    font-size: 1.4rem;
    cursor: pointer;
    animation-name: example_text_animation;
}

@keyframes example_text_animation {
    from {

    }
}
.style-adding-to-text{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.div-of-Error{
    text-align: center;
    font-size: 1.2rem;
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
